<div class="row">
  <form action="/board/create" method="POST" class="uploader small-12 medium-6 large-4 columns" name="image-upload">
    <div class="upload-hint">
      <img src="images/Plus.png" class="plus" />
      <p>add an image</p>
    </div>
    <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
    <input type="hidden" name="url" value="randomText"/>
  </form>
</div>
