<div class="row">
  <nav class="small-12 large-12 columns">
    <ul class="home-link">
      <li>
        <img src="images/logo-42.png" class="logo"/>
      </li>
      <li>
        <h2><a href="/" class="name">bboard.io/</a></h2>
      </li>
    </ul>
  </nav>
</div>
