.uploader {
  border-style: dashed;
  border-width: 3px;
  border-color: #D8D8D8;
  border-radius: 10px;

  cursor: pointer;
}

.upload-hint {
  text-align: center;
  margin: 40px;
}

.upload-hint p {
  margin-top: 15px;
  font-size: 1.5em;
  color: #D8D8D8;
}
