<div class="row">
  <form action="/board/create" method="POST" class="dropzone large-4 columns" id="add-first-image" name="image">
    <div class="add-image">
      <img src="images/Plus.png" class="plus" />
      <p>add an image</p>
    </div>
    <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
    <input type="hidden" name="url" value="randomText"/>
  </form>
</div>
