<div class="wrap">
  <div class="row">
    <form action="/board/create" method="POST" class="dropzone" id="add-first-image" name="image">
      <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
      <input type="hidden" name="url" value="randomText"/>
      <input type="submit" value="Create Bboard"/>
    </form>
  </div>
</div>
