<div class="wrap">
  <div class="row">
    <form action="/board/new"
          class="dropzone"
          id="add-first-image">
      <input type="hidden" name="_csrf" value="<%= _csrf %>"/>

    </form>

    <a href="/board/new" class="button">Create new bboard</a>
  </div>
</div>
