<div class="wrap">
  <div class="row">
    <form action="/board/new"
          class="dropzone"
          id="add-first-image">
      <input type="submit" value="add image" />

    </form>

    <a href="/board/new" class="button">Create new bboard</a>
  </div>
</div>
